
/*媒体查询*/
/*320-360*/
@media only screen and (max-width: 360px) and (min-width: 320px){
    html,body{
        font-size: 2.1375rem;
        background: #F3EEEE;
    }
}
/*361-400*/
@media only screen and (max-width: 400px) and (min-width: 361px){
    html,body{
        font-size: 2.2rem;
        background: #F3EEEE;
    }
}
/*401-425*/
@media only screen and (max-width: 425px) and (min-width: 401px){
    html,body{
        font-size: 2.2625rem;
        background: #F3EEEE;
    }
}
/*768-1023*/
@media only screen and (max-width: 1023px) and (min-width: 768px){
    html,body{
        font-size: 3.2rem;
        background: #F3EEEE
    }
}
/*1024-*/
@media only screen and (min-width: 1024px){
    html,body{
        font-size: 3.325rem;
        background: #F3EEEE;
    }
}

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.main{
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to right,rgb(0,164,182),rgb(0,205,184));
    position: relative;
}
.center{
    width: 100%;
    height: 1741px;
}
.main-left{
    /*width: 8%;*/
    height: 100%;
    position: absolute;
    float: left;
    top: -74px;
    left: 20px;
}
.main-left img{
    width: 1.5rem;
    height: 108%;
}
.main-right{
    width: 100%;
    height: 100%;
    text-align: center;
    float: right;
    margin-top: 10px;
}
.center-center-img{
    margin: auto;
    width: 26.5rem;
    height: 100%;

}
.main-right p{
    color: white;
    font-size: 1rem;
    font-family: 微软雅黑;
}

.top{
    width: 100%;
    height:4.03rem;
    background: #00C4B8;
}
.top1logo{
    width:1.05rem;
    height:1.375rem;
    margin-top: 1.8875rem;
    margin-left: 0.625rem;
    float:left;
}
.top1p{
    font-size:1.125rem;
    color:white;
    float:left;
    margin-left: 5.825rem;
    margin-top:1.8875rem;
}
.touxiang1{
    width:94.8%;
    height:12.2rem;
    margin: auto;
    background-color: #ffffff;
    margin-top: 1.45rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid #d5d5d5;
}
.popo1{
    height:3.05rem;
    width:100%;
    background-color: #ffffff;
    border-bottom:2px solid #adadad;
}
.touxiangp{
    font-size:1.0125rem;
    color:black;
    float:left;
    margin-top: 0.8rem;
    margin-left: 1rem;
}
.clear{
    clear:both;
}
.touxiangtu{
    float: right;
    width:2.25rem;
    height:2rem;
    margin-right: 1rem;
    margin-top: 0.6rem;
}
.touxiangp2{
    font-size:0.8125rem;
    color:#999898;
    float:right;
    margin-top: 0.95rem;
    margin-right: 1rem;
}
.juzhudi{
    width:94.8%;
    height:6.1rem;
    margin: auto;
    background-color: #ffffff;
    margin-top: 1.465rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid #CCC;
}
.tuichu2{
    width:94.8%;
    height:3.05rem;
    margin: auto;
    /*background-color: red;*/
    margin-top: 2.9375rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid #CCC;
}
.tuichup{
    color:#00c6b8;
    font-size:1.125rem;
    margin: auto;
}
.popo2{
    height:3.05rem;
    width:100%;
    background-color: #ffffff;
    /*border-bottom:2px dashed #adadad;*/
    float:left;
}
